body {
    margin: 0;
    padding: 0;
    border: 0;
}
img {
    object-fit: cover;
}
/*Index Page*/
.jumbo {
    background-image: url("../img/bg.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*Footer*/
.copyright {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;

}
/*Carousel slider to show customer's PC*/
#myCarousel .carousel-item img {
    height: 480px;
    width: 100%;
}
/*Top Footer*/
.footer-top-area {
    margin-top: 2%;
    background: none repeat scroll 0 0 #333;
    color: #999;
    padding: 35px 0 100px;
}
@media only screen and (max-width: 767px) {
    .footer-top-area .zigzag-bottom{
        padding: 35px 0 125px;
    }
}
.footer-top-area .zigzag-bottom {
    background: #f4f4f4;
}
.footer-social a {
    background: none repeat scroll 0 0 #5a88ca;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-top: 5px;
    text-align: center;
    width: 40px;
    border: 1px solid #5a88ca;
}
.footer-about-us h2 {
    font-weight: bold;
}
.footer-about-us p {
    text-align: justify;
}
.footer-social {
    margin-top: 20px;
}
.footer-newsletter {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-wid-title {
    font-family: "raleway", serif;
    font-size: 30px;
    font-weight: Bold;
    color: lightyellow;
}
#sub-form div {
    padding: 0;
}
#sub-form div .form-control {
    width: 100%;
}
#sub-form div .btn {
    margin-top: 5%;
}
/*Bottom Footer*/
.footer-bottom-area {
    background: none repeat scroll 0 0 #000;
    color: #fff;
    padding-bottom: 40px;
}
.footer-card-icon {
    font-size: 30px;
    text-align: right;
}
.copyright {
    text-align: left;
}
/*Index Page promo*/
.promo-area {
    margin-top: 2%;
    background: #fbfbfb;
    color: #fff;
    padding: 40px 0 40px;
}
.single-promo {
    font-size: 25px;
    font-weight: 200;
    padding: 20px 10px;
    margin: 2% 2%;
    text-align: center;
}
.promo1 {
    background-color: #5a88ca;
}
.promo2 {
    background-color: #ffd900;
}
.promo3 {
    background-color: #fa8072;
}
.promo4 {
    background-color: #4abebd;
}
.promo1:hover, .promo2:hover, .promo3:hover, .promo4:hover{
    background-color: black;
}
/*2nd Carousel*/
.carousel2-header {
    font-size: 60px;
    margin-bottom: 0;
    color: white;
    font-family: "Calibri",serif;
    font-weight: 100;
    width: 100%;
    text-align: center;
}
#multi-item-carousel img {
    height: 250px;
}
#multi-item-carousel .card-body{
    height: 250px;
}
/*Brand Area*/
.brands-area {
    text-align: center;
    width: 100%;
    margin-top: 1%;
    padding: 20px 0 20px;
}
/*Latest Products Area*/
.lph1 {
    font-size: 50px;
    color: darkslategrey;
    font-family: "Calibri",serif;
    font-weight: 100;
}
/* Login form */
#tron{
    background: url("../img/carousel-1.jpg");
    background-size: 100% 100%;
    text-align: center;
    border-radius: 0% !important;
    background-size: cover;
    position: centre centre;
    height: 500px;
    z-index: -1;
    opacity: 0.9;
    background-color: black;

}
#first{
    background: url("../img/login.jpg");
    width: 320px;
    height: 420px;
    float:right;
    box-sizing: border-box;
}
#signup .btn{
    background-color: white;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 40px;
    margin-left: 50px;
    transition: 0.3s;
}

#signup .btn:hover {
    background-color: #3e8e41;
    color: white;
}
#first{
    float:right;
    width: 30%;
    background-color: black;
    height: 500px;
}
#head{
    color: antiquewhite;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin-left: 20px;margin-top: 50px;
}
#signup @font-face {
    font-family: myFirstFont;
    src: url(https://www.myfonts.com/fonts/zetafonts/adlery-pro/);
}
/* SignUP styling */
#signup{
    background: url("../img/login_1.jpg");
    width: 1100px;
    margin: 0 auto;
    height: 800px;
    box-shadow: 5px 10px 5px #888888;
}
/* for left side columns */
#up,#up1,#up2{
    width: 50%;
    color: #f4f4f4;
    margin: 0 auto;
}
/* for right side colums */
#down1,#down2,#down{
    width: 50%;
    color: #f4f4f4;
}
#datepicker{
    width:50%;
}
#datepicker > span:hover{cursor: pointer;}

#lab,#lab1,#lab2,#lab3,#lab4{
    color: white;
}

/*#motherboard*/
    /* breadcrumb */
ul.breadcrumb {
    width: auto;
    border-radius: 0px;
    padding: 10px 16px;
    list-style: none;
    background-color:white;
    border: 1px solid rgb(155, 155, 155);
}
ul.breadcrumb li {
    display: inline;
    font-size: 12px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/*  */
.accordion__button{
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background: lightgray;
    color: white;
    text-align: left;
    transition: background 0.2s;
}
.accordion__button::after{
    content:'\25be' ;
    float: right;
    transform:scale(1.5) ;
}
.accordion__button--active{
    overflow:default;
    background: #555555;
}
.accordion__button--active::after{
    content: '\25b4';
}

.accordion__content{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;
    padding: 0 15px;
    font-family: sans-serif;
    background-color: white;

}
.accordion__content a{
    padding: 20px;
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 5px;

}
.accordion__content .form-check .form-check-label{
    color: rgb(44, 44, 235);
    font-family: 'Quicksand', sans-serif;
}
#img{
    max-width: 100%;
}
.error{
    background-color: white;
}

/*Description of any item*/
#description{

    position:fixed;
    left: 0;
    right: 0;
    top: 15%;
    z-index: 1;
    border : 3px solid black;

}